.inline-bid-wrapper {
  display: inline-flex;
  align-items: center;
  vertical-align: baseline;
}

/* Scale down BidChip slightly for inline usage */
.inline-bid-wrapper > div {
  transform: scale(0.9);
  transform-origin: center;
}
